.container

  %h1.title #{data.samples[id].title}

  .chart
    #chart

  #ace-error

  .sourcecode.margin-medium-v.margin-small-h
    %h3 # #{id}.js
    #javascript-editor.c3-editor
      = js_as_plain id

  - if defined? other_css
    .sourcecode
      %h3 # #{other_css}
      %pre
        %code.css
          = css_as_plain other_css

  - if defined? other_files
    - other_files.each do |f|
      .sourcecode
        %h3 # #{f}
        %pre
          %code.html
            = data_as_plain f

  = partial :footer

= partial :script
= partial :sample_editor, locals: { type: 'javascript' }
= javascript_include_tag "samples/#{id}.js"
