= javascript_include_tag 'jquery-1.11.0.min.js'
= javascript_include_tag 'foundation.min.js'
= javascript_include_tag 'highlight.pack.js'
= javascript_include_tag 'd3-5.4.0.min.js'
= javascript_include_tag 'c3.min.js'
:javascript
  hljs.initHighlightingOnLoad();
  $(document).foundation();
